* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }
  
  a:hover {
    color: white;
  }
  
  .fa-home,
  .fa-calendar-alt,
  .fa-user {
    margin-right: 10px;
  }